# Habilita front-controller: si la petición no es a un archivo/dir existente, redirige a app.php
RewriteEngine On
RewriteBase /

# Excluir archivos/dirs existentes
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Enviar todo a app.php
RewriteRule ^(.*)$ /app.php [QSA,L]

